<div class="header_line"></div>

<div class="box_add_line clear">
    <div class="box_add_tit">添加配置你的第一个药盒吧！</div>
    <div ng-controller="BoxCheck" class="box_add_list clear">
        <ul>
            <li><a  ng-click="boxs(1)"><img src="images/box_01.png" /><i name="boxs1" ng-style="boxs1"  class="iconfont">&#xe621;</i></a></li>
            <li><a  ng-click="boxs(2)"><img src="images/box_02.png" /><i name="boxs2" ng-style="boxs2"  class="iconfont">&#xe621;</i></a></li>
            <li><a  ng-click="boxs(3)"><img src="images/box_03.png" /><i name="boxs3" ng-style="boxs3"  class="iconfont">&#xe621;</i></a></li>
            <li><a  ng-click="boxs(4)"><img src="images/box_04.png" /><i name="boxs4" ng-style="boxs4"  class="iconfont">&#xe621;</i></a></li>
        </ul>
    </div>

    <div class="box_add_input"><a ui-sref="wifi1">添加</a></div>
</div>


<div class="nav_line"></div>
