<div class="header_line"></div>

<div class="remind_list mybox_h">
    <div class="mybox_pic" ui-sref="boxInfo"><img src="images/box_02.png" /><div class="sub"><span></span></div></div>
    <div class="mybox_tit">爸爸的盒子</div>
    <div class="mybox_con">
        <i>用药习惯指数</i>
        <strong>100%</strong>
        <span class="iconfont">&#xe600;</span>
    </div>
    <div class="mybox_talk iconfont input_talk" ng-click="showCapture()"><span>&#xe611;</span></div>
</div>

<div class="remind_list mybox_margin">
    <div class="mybox_progress_tit">今日所有事件完成度</div>
    <div class="mybox_progress">
        <div class="line" style="width:25%"></div>

        <div class="bg" style="left:1%;"></div>
        <div class="mybox_content input_content on" style="left:1%;">
            <img src="images/remind_red.png" />
            <div class="text font_red"><span class="iconfont">&#xe61a;</span><i>8:00</i></div>
        </div>

        <div class="bg" style="left:50%;"></div>
        <div class="mybox_content input_content" style="left:50%;">
            <em class="iconfont font_yellow">&#xe608;</em>
            <div class="text font_yellow"><span class="iconfont">&#xe61a;</span><i>20:00</i></div>
        </div>

        <div class="bg" style="left:100%;"></div>
        <div class="mybox_content input_content" style="left:100%;">
            <img src="images/remind_red.png" />
            <div class="text font_blue"><span class="iconfont">&#xe61a;</span><i>8:00</i></div>
        </div>

    </div>
</div>

<div class="remind_list">
    <div class="add" ui-sref="addbox"><span class="iconfont">&#xe61f;</span><i>添加绑定新的药盒</i></div>
</div>

<div class="nav_line"></div>