<div class="header_line"></div>

<div class="habit">

    <div class="line_left">
        <div class="name"><img src="images/box_02.png" />爸爸的盒子</div>
        <div class="list">
            <ul>
                <li><img src="images/remind_green.png" />维生素【大孔】</li>
                <li><img src="images/remind_yellow.png" />维生素【大孔】</li>
                <li><img src="images/remind_red.png" />维生素【大孔】</li>
            </ul>
        </div>
    </div>

    <div class="line_right">
        <div class="circle">
            <div class="pie_left"><div class="left"></div></div>
            <div class="pie_right"><div class="right"></div></div>
            <div class="circle_mask"><span>90</span>%<i>用药习惯指数</i></div>
        </div>
    </div>

</div>

<div class="habit_box">
    <div class="tit">
        <ul>
            <li>日</li>
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
        </ul>
    </div>
    <div class="choose">
        <div class="choose_year">
            <div class="choose_input choose_back"><i class="iconfont">&#xe615;</i></div>
            <span>2015年</span>
            <div class="choose_input choose_next"><i class="iconfont">&#xe615;</i></div>
        </div>
        <div class="choose_month">
            <div class="choose_input choose_back"><i class="iconfont">&#xe615;</i></div>
            <span>4月</span>
            <div class="choose_input choose_next"><i class="iconfont">&#xe615;</i></div>
        </div>
    </div>
    <div class="content">
        <ul>
            <li> 1 <span class="iconfont font_blue">&#xe600;</span></li>
            <li> 2 <span class="iconfont font_blue">&#xe600;</span></li>
            <li> 3 <span class="iconfont font_blue">&#xe600;</span></li>
            <li> 4 <span class="iconfont font_blue">&#xe600;</span></li>
            <li> 5 <span class="iconfont font_blue">&#xe600;</span></li>
            <li> 6 <span class="iconfont font_blue">&#xe600;</span></li>
            <li> 7 <span class="iconfont font_blue">&#xe600;</span></li>
        </ul>
        <ul>
            <li> 8 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 9 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 10 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 11 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 12 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 13 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 14 <span class="iconfont font_yellow">&#xe601;</span></li>
        </ul>
        <ul>
            <li> 15 <span class="iconfont font_red">&#xe602;</span></li>
            <li> 16 <span class="iconfont font_red">&#xe602;</span></li>
            <li> 3 <span class="iconfont font_red">&#xe602;</span></li>
            <li> 17 <span class="iconfont font_red">&#xe602;</span></li>
            <li> 18 <span class="iconfont font_red">&#xe602;</span></li>
            <li> 19 <span class="iconfont font_red">&#xe602;</span></li>
            <li> 20 <span class="iconfont font_red">&#xe602;</span></li>
        </ul>
        <ul>
            <li> 21 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 22 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 23 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 24 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 25 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 26 <span class="iconfont font_yellow">&#xe601;</span></li>
            <li> 27 <span class="iconfont font_yellow">&#xe601;</span></li>
        </ul>
        <ul>
            <li> 28 <span class="iconfont font_blue">&#xe600;</span></li>
            <li> 29 <span class="iconfont font_blue">&#xe600;</span></li>
            <li> 30 <span class="iconfont font_blue">&#xe600;</span></li>
        </ul>
    </div>
</div>

<div class="nav_line"></div>
<div class="nav">
    <ul>
        <li class="iconfont on"><a href="#"><span>&#xe603;</span><i>&#xe604;</i>盒子</a></li>
        <li class="iconfont"><a href="#"><span>&#xe605;</span><i>&#xe606;</i>消息</a></li>
        <li class="iconfont"><a href="#"><span>&#xe607;</span><i>&#xe608;</i>提醒</a></li>
        <li class="iconfont"><a href="#"><span>&#xe609;</span><i>&#xe61e;</i>更多</a></li>
    </ul>
</div>
