<div class="remind_list remind_list_h">
    <div class="pic"><span class="iconfont red">&#xe608;</span></div>
    <div class="tit">交水费</div>
    <div class="content">8：00 取回单子</div>
    <div class="talk input_talk"><span class="iconfont">&#xe611;</span></div>
</div>

<div class="remind_list remind_list_h">
    <div class="pic"><span class="iconfont grend">&#xe608;</span></div>
    <div class="tit">充值公交卡</div>
    <div class="content">12:00 充值100元</div>
    <div class="talk input_talk"><span class="iconfont">&#xe611;</span></div>
</div>

<div class="remind_list remind_list_h">
    <div class="pic"><span class="iconfont yellow">&#xe608;</span></div>
    <div class="tit">去医院体检</div>
    <div class="content">13:00 带上上次的体检单</div>
    <div class="talk input_talk"><span class="iconfont">&#xe611;</span></div>
</div>

<div class="remind_list remind_list_t">
    <div class="add"><span class="iconfont">&#xe61f;</span><i>添加新的事件</i></div>
</div>
<div class="nav_line"></div>