<div class="header_line"></div>

<div class="remind_editor">
    <ul>
        <li>
            <div class="tit">姓名</div>
            <div class="line"><input type="text" class="input_text" placeholder="请输入姓名" /></div>
        </li>
    </ul>
    <ul>
        <li>
            <div class="tit">性别</div>
            <div class="line m_l">
                <div class="input_sub iconfont"><span>&#xe612;</span></div>
                <div class="text"><select>
                    <option>男</option>
                    <option>女</option>
                </select></div>
                <div class="input_sub iconfont"><span>&#xe61f;</span></div>
            </div>
        </li>
        <li>
            <div class="tit">年龄</div>
            <div class="line m_l">
                <div class="input_sub iconfont"><span>&#xe612;</span></div>
                <div class="text"><input type="number" value="20"/></div>
                <div class="input_sub iconfont"><span>&#xe61f;</span></div>
            </div>
        </li>
        <li>
            <div class="tit">用药习惯</div>
            <div class="line m_l">
                <div class="input_sub iconfont"><span>&#xe612;</span></div>
                <div class="text">12:00</div>
                <div class="input_sub iconfont"><span>&#xe61f;</span></div>
            </div>
        </li>
    </ul>
    <ul>
        <li>
            <div class="tit">用药习惯</div>
            <div class="line m_l">
                <div class="input_sub iconfont"><span>&#xe612;</span></div>
                <div class="text">一颗</div>
                <div class="input_sub iconfont"><span>&#xe61f;</span></div>
            </div>
        </li>
        <li class="remind_choose">
            <div class="tit">方式</div>
            <div class="line m_l">
                <div class="input_sub on"><i>饭前</i></div>
                <div class="input_sub m_c"><i>饭中</i></div>
                <div class="input_sub"><i>饭后</i></div>
            </div>
        </li>
        <li class="remind_choose">
            <div class="tit">用药习惯</div>
            <div class="line m_l">
                <div class="input_sub on"><i>大孔</i></div>
                <div class="input_sub m_c"><i>小孔</i></div>
                <div class="input_sub"><i>外置</i></div>
            </div>
        </li>
    </ul>
</div>

<div class="initialization_input"><input type="submit" class="bg_yellow" value="保存" /></div>

<div class="initialization_input initialization_invite"><input type="submit"  class="bg_red" value="清空" /></div>
