<div class="header_line"></div>

<div class="initialization_bar">
    <div class="piont first"><span>初始化</span></div>
    <div class="piont two on"><span>连接网络</span></div>
    <div class="piont three"><span>绑定设备</span></div>
    <div class="piont four"><span>完成</span></div>
</div>

<div class="initialization_con_line clear">
    <div class="initialization_con clear netsork keep">
        <img src="images/network.png" />
        <i>请保持WIFI连接</i>
        <span>网络SSID：ysd2</span>
        <input type="text" class="input_text" placeholder="请输入WIFI密码" />
    </div>
</div>

<div class="initialization_input"><a href="#">开始连接</a></div>