
<div class="header_line"></div>

<div class="initialization_bar">
    <div class="piont first"><span>初始化</span></div>
    <div class="piont two"><span>连接网络</span></div>
    <div class="piont three on"><span>绑定设备</span></div>
    <div class="piont four"><span>完成</span></div>
</div>

<div class="initialization_con_line clear">
    <div class="initialization_con clear binding_failure">
        <span>配置失败，如下原因会导致：</span>
        <i><b></b><em>复杂的网络环境</em></i>
        <i><b></b><em>某些3G无线路由器</em></i>
        <i><b></b><em>5G频段无线网络</em></i>
        <span>强烈建议：</span>
        <i><b></b><em>更换无线路由器再试试</em></i>
        <i><b></b><em>更换至网络状况较好的场所</em></i>
    </div>
</div>

<div class="initialization_input"><a ui-sref="wifi2">重试</a></div>

<div class="initialization_input"><a href="#">问题反馈</a></div>
